<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4cb147f19a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
      <div class="header-logo-search-pay">
            <div class="logo-search">
                <div class="logo">
                      <img src="images/logo-mercado-liebre.svg" alt="Mercado liebre">
                </div>
                <form class="search">
                     <input class="input-search" type="text" name="buscar" placeholder="Buscar productos y marcas">
                     <button class="button-search">
                        <i class="fa-solid fa-magnifying-glass"></i>
                     </button>
                </form>
            </div>
            <div class="payment-methods">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Compra en cuotas y sin tarjeta de crédito</p>
            </div>
          </div>
        
        <nav class="nav-bar">
            <ul>
                <li><a href="/">Ofertas</a></li>
                <li><a href="/">Tiendas Oficiales</a></li>
                <li><a href="/">Vender</a></li>
                <li><a href="/">Ayuda</a></li>
            </ul>
            <ul>
                <li>
                    <a href="/register">Crea una cuenta</a>
                    <i class="fa-regular fa-address-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresa</a>
                    <i class="fa-solid fa-arrow-right-to-bracket"></i>
                </li>
                <li>
                    <a href="/">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>
        <button class="burger-menu">
            <i class="fas fa-bars"></i>
        </button>
        
    </header>
    <div class="banner">
        <img src="images/img-home-banner.jpg" alt="banner">
    </div>
    <main>
        <section>
            <h3>Basado en tu ultima visita</h3>
            <section class="all-products">
                
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </div>
                   
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$6.770</p>
                           <p class="oferta">40% off</p>
                        </div>
                        <p class="description">Cafetera Moulinex</p>
                    </section>
                </div>
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    </div>
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$230.000</p>
                           <p class="oferta">20% off</p>
                        </div>
                       <p class="description">MacBook Pro 2019</p>
                    </section>
                </div>
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$70.500</p>
                           <p class="oferta">10% off</p>
                        </div>
                       <p class="description">Samsung Galaxy S10</p>
                    </section>
                </div>
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    </div>
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$23.200</p>
                           <p class="oferta">5% off</p>
                        </div>
                       <p class="description">SmartTv Samsung 43</p>
                    </section>
                </div>
            </section>
            <h3>Seccion de ofertas</h3>
            <section class="all-products">
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                    </div>
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$6.770</p>
                           <p class="oferta">40% off</p>
                        </div>
                        <p class="description">Cafetera Moulinex</p>
                    </section>
                </div>
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    </div>
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$230.000</p>
                           <p class="oferta">20% off</p>
                        </div>
                       <p class="description">MacBook Pro 2019</p>
                    </section>
                </div>
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    </div>
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$70.500</p>
                           <p class="oferta">10% off</p>
                        </div>
                       <p class="description">Samsung Galaxy S10</p>
                    </section>
                </div>
                <div class="info-product">
                    <div class="img-product">
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    </div>
                   <section class="info">
                        <div class="icons">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="price-oferta">
                           <p class="price">$23.200</p>
                           <p class="oferta">5% off</p>
                        </div>
                       <p class="description">SmartTv Samsung 43"</p>
                    </section>
                </div>
            </section>
        </section>

    </main>
     <footer>
        <section class="info-footer-liebre">
            <div class="information">
               <i class="fa-solid fa-credit-card" ></i>
               <h4>Pagá con tarjeta o en efectivo</h4>
               <p class="info-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p> 
            </div>
            <div class="information">
                <i class="fa-solid fa-gift"></i>
                <h4>Envio gratis desde $2500</h4>
                <p class="info-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="information">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p class="info-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                  porque estás siempre protegid@.</p>
            </div>
        </section>
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>