<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4cb147f19a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet"  type="text/css" href="css/styles.css">
    
    <title>Mercado Liebre</title>
</head>

<body>
    <header>
        <div class="header-logo-search-pay">
              <div class="logo-search">
                  <div class="logo">
                        <img src="images/logo-mercado-liebre.svg" alt="Mercado liebre">
                  </div>
                  <form class="search">
                       <input class="input-search" type="text" name="buscar" placeholder="Buscar productos y marcas">
                       <button class="button-search">
                          <i class="fa-solid fa-magnifying-glass"></i>
                       </button>
                  </form>
              </div>
              <div class="payment-methods">
                  <i class="fa-solid fa-hand-holding-dollar"></i>
                  <p>Compra en cuotas y sin tarjeta de crédito</p>
              </div>
            </div>
          <nav class="nav-bar">
              <ul>
                  <li><a href="/">Ofertas</a></li>
                  <li><a href="/">Tiendas Oficiales</a></li>
                  <li><a href="/">Vender</a></li>
                  <li><a href="/">Ayuda</a></li>
              </ul>
              <ul>
                  <li>
                      <a href="">Crea una cuenta</a>
                      <i class="fa-regular fa-address-card"></i>
                  </li>
                  <li>
                      <a href="/">Ingresa</a>
                      <i class="fa-solid fa-arrow-right-to-bracket"></i>
                  </li>
                  <li>
                      <a href="/">Mis compras</a>
                      <i class="fa-solid fa-basket-shopping"></i>
                  </li>
              </ul>
          </nav>
          <button class="burger-menu">
              <i class="fas fa-bars"></i>
          </button>
          
      </header>
      <main class="register-login">
        <form class="login" action="/" method="get">
            <input class="email"type="text" name="email" placeholder="Nombre de usuari@" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Enviar</button>
        </form>
    </main>
      <footer>
        <section class="info-footer-liebre">
            <div class="information">
               <i class="fa-solid fa-credit-card" ></i>
               <h4>Pagá con tarjeta o en efectivo</h4>
               <p class="info-footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p> 
            </div>
            <div class="information">
                <i class="fa-solid fa-gift"></i>
                <h4>Envio gratis desde $2500</h4>
                <p class="info-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                  productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="information">
                <i class="fa-solid fa-user-shield"></i>
                <h4>Seguridad de principio a fin</h4>
                <p class="info-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                  porque estás siempre protegid@.</p>
            </div>
        </section>
        <h6>Copyright © 1999-2020 MercadoLiebre S.R.L.</h6>
    </footer>
</body>
</html>